.container{
    width:80%;
    margin:  auto;
}

.col2 {
    
    background-color:pink;
    width:100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
    margin-left: 0;
    float:left;
    padding:1%;
    box-sizing:border-box;
    
}

.col3{
    background-color:pink;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
    margin-left: 0;
    float:left;
    padding:1%;
    box-sizing:border-box;
    
}

.col5{
    background-color:pink;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
    margin-left: 0;
    float:left;
    padding:1%;
    box-sizing:border-box;
    
}

nav ul{
    margin:auto;
    width:100%;
    background:cyan;
    padding:0;
    box-sizing:border-box;
}
nav ul li{
    text-align:center;
    width:100%;
    background:lightpink;
    list-style:none;
    padding: 10px 0;
    float:left;
    box-sizing:border-box;
}
nav ul li:hover{
    background:#E44DFE;
    
}


nav ul li a{
    text-decoration:none;
    color:darkblue;
    
}

@media screen and (min-width:768px){
    .container{
        width:768px;
        height:auto;
    }
    nav ul {
        width:50%;
    }
    .col2{
        width:50%;
    }
    .col3{
        width: 33.33%;
    }

    .col5{
        width: 20%;
    }
    nav ul li{
        width:33.33%;
    }

}













