.col2 {
    background-color:pink;
    width:50%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
    margin-left: 0;
    float:left;
    padding:1%;
    box-sizing:border-box;
}

.col3{
    background-color:pink;
    width: 33%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
    margin-left: 0;
    float:left;
    padding:1%;
    box-sizing:border-box;
}

.col5{
    background-color:pink;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 0;
    margin-left: 0;
    float:left;
    padding:1%;
    box-sizing:border-box;
}











